<!doctype html>
<html>
  <head>
  </head>
  <body>
    <ul>
      <% articles.forEach(function(article){ %>
        <li> <%= article.title %> </li>
        <%= article.description %> 
      <% })%>
    </ul>
  </body>
</html>